* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0, 0, 0, 0.5)), url('./img/bg-01.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.todo{
  /* padding: 2rem; */
  background-color: #ffffff1c;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}
.todo-list{
height: 88%;
border-bottom: 2px solid #f1f1f1;
padding: 1rem;
list-style: none;

}
.todo-list li{
background-color: #ddd;
padding: .5rem;
border-radius: 5px;
color: #888;
margin-bottom: 1rem;
display: flex;
justify-content: space-between;
align-items: center;
}
li button{
  padding: .5rem 2rem;
  outline: none;
  border: none;
  background-color: orangered;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all .5s ease;
}
li button:hover{
  background-color: orange;
}
.todo-list h2{
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
  
}
.todo-container{
  height: 90%;
  overflow-y: auto;
  padding-right: 1rem;
}
.todo-form{
  height: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.form-control{
  padding: .5rem;
  width: 40%;
}
.form-control input{
width: 100%;
  height: 45px;
  padding: 10px;
  font-size: 16px;
  color: #888;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #f1f1ff;
}
.todo-form p{
  color: #ddd;
  padding: 0 1rem;
}

@media (min-width:300px) and (max-width:700px) {
  .todo-form p{
    display: none;
  }
  .todo-form .form-control{
    width: 100%;

  }
}
